
#home{
  

    width:1340px; 
    height:645px;
    background-image: url("../Images/back1.jpg");
}

.content{
    border-style:outset;
    top:300px;
    left:30px;
    position:absolute;
    background-color:rgb(37, 139, 134);
    height:700px;
    width:1175px;
    overflow-y:auto;
}

.Prof{
    color: white;   
}


.hue img{
    border-radius: 50%;
	height: 300px;
    width: 300px;
	display: block;
    margin-top: 70;
    margin-left: 250;
    margin-right: 50;
    margin-bottom: 50;
    vertical-align:left;
}

.Image img{
    border-radius: 50%;
	height: 300px;
    width: 300px;
	display: block;
    margin-top: 70;
    margin-left: 250;
    margin-right: 50;
    margin-bottom: 50;
    vertical-align:left;
}
.Image1 img{
    margin-left: 100px;
    border-radius:50%;
    width:300;
    height:300;
}

img.img1 {
    transform:rotate(-90deg);
}

div1 img {
    width:40px;
    height:40px;
}

.emailImages:after{
    content: "";
    clear: both;
    display: table;
}

.content{
    border-radius: 5%;
    border-style:outset;
    border-color: rgb(10, 97, 97);
    top:30px;
    left:560px;
    position:absolute;
    background-color:lightgray;
    height:600px;
    width:750px;
    overflow-y:auto;
    font-family: Courier, monospace;
}
.content1{
    border-radius: 5%;
    border-style:outset;
    border-color: rgb(10, 97, 97);
    top:30px;
    left:300px;
    position:absolute;
    background-color:lightgray;
    height:600px;
    width:750px;
    overflow-y:auto;
    font-family: Courier, monospace;
}



h1{
    text-align: center;
    font-size: 20px;
}

h3{
    margin-top: 30px;
    color: rgb(24, 141, 125);
    font-size: 20px;
    font-family: Courier, monospace;
    text-align: center;        
}

h4 {

    font-size: 20px ;
}
.text{
    color: rgb(24, 141, 125);
    top:393px;
    left:360px;
    position:absolute;
    background-color:lightgray;
    height:84px;
    width:180px;
    overflow-y:auto;
    font-size: 25px;
}

.text1 {
    margin-top:300px;
   
}

.text1 h1 {
font-size:40px;

    }

.text h2 {
    font-size:20px;
}
.text3 h2{
    margin-left: 10px;
     font-size: 20px;
}


.tab{
    width: 350px;
	padding: 15px;
	color: black;
    background-color:rgb(24, 141, 125);
    font-weight: bold;
    font-size: 150%;
    text-transform: ;
    border: 3px double rgb(24, 141, 125);
    border-top-color:rgb(24, 141, 125);
    border-left-color: rgb(24, 141, 125);
    text-align: left;
    margin-bottom: 20px;
    font-family: Courier, monospace;
}

.tab:hover{
    background-color:burlywood;
    cursor: pointer; 
}

.but{
    border-style:none;
    border-color: rgb(10, 97, 97);
    top:30px;
    left:20px;
    position:absolute;
    background-image: url("back1.jpg")
    height:450px;
    width:500px;
    overflow-y:auto;
    font-family: Courier, monospace;
}

.image1 h2{

    margin-top: 10px;
    text-align: center;
    font-size: 100px;
}
.img2{

    margin-left: 290px;
}
.img2 img{

height:50px;
width: 50px;
 cursor: pointer; 
}

div2.txt h1{


    margin-top: 20px;

}